<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net452" />
  <package id="Control.Draggable" version="1.0.5049.269" targetFramework="net452" />
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="SplashScreen.Winforms" version="1.0.0" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net452" />
</packages>